a.active {
  background-color: rgb(179, 215, 255) !important;
  border: none;
}

a:hover{
  color: rgb(89, 211, 170);
}

a.btn:hover,
.btn:hover {
  background-color: rgb(60, 121, 172) !important;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Màu nền lớp mờ */
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-icon {
  font-size: 2rem;
  /* Kích thước của icon */
  color: rgba(255, 255, 255, 0.9);
  /* Màu sắc của icon */
}

.image-container:hover .overlay {
  opacity: 1;
  /* Hiển thị lớp mờ và icon khi hover */
}

span.p-image.p-component {
  display: block;
}