<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.daos.PitchDao">

    <insert id="insertPitch" parameterType="com.pitchmanagement.dtos.PitchDto" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            pitches(name, location, is_active, create_at, update_at, manager_id)
        VALUES( #{name},#{location},#{isActive},#{createAt}, #{updateAt}, #{managerId})
    </insert>

    <select id="getAll" parameterType="Long" resultType="com.pitchmanagement.dtos.PitchDto">
        SELECT
            id,
            name,
            location,
            is_active AS isActive,
            manager_id AS managerId,
            create_at AS createAt,
            update_at AS updateAt
        FROM pitches
    </select>

    <select id="getPitchById" parameterType="Long" resultType="com.pitchmanagement.dtos.PitchDto">
        SELECT
            id,
            name,
            location,
            is_active AS isActive,
            manager_id AS managerId,
            create_at AS createAt,
            update_at AS updateAt
        FROM pitches WHERE id = #{id}
    </select>

    <update id="updatePitch" parameterType="com.pitchmanagement.dtos.PitchDto" >
        UPDATE pitches SET
            name = #{name},
            location = #{location},
            is_active = #{isActive},
            update_at = #{updateAt}
        WHERE id = #{id}
    </update>

</mapper>