<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.daos.PitchTimeDao">

    <insert id="insertPitchTime" parameterType="com.pitchmanagement.dtos.PitchTimeDto">
        INSERT INTO
            pitch_times(sub_pitch_id, time_slot_id, price, is_active)
        VALUES (#{subPitchId}, #{timeSlotId}, #{price}, #{isActive})
    </insert>

    <select id="getPitchTimeBySubPitchId" parameterType="Long" resultType="com.pitchmanagement.dtos.PitchTimeDto">
        SELECT
            pt.price,
            pt.is_active AS isActive,
            ts.start_time AS startTime,
            ts.end_time AS endTime,
            pt.time_slot_id AS timeSlotId
        FROM pitch_times pt
        LEFT JOIN time_slots ts ON ts.id = pt.time_slot_id
        WHERE pt.sub_pitch_id = #{subPitchId}
    </select>

    <select id="isExisting" parameterType="map" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM pitch_times
        WHERE sub_pitch_id = #{subPitchId} AND time_slot_id = #{timeSlotId}
    </select>

    <select id="getBySubPitchIdAndTimeSlotId" parameterType="map" resultType="com.pitchmanagement.dtos.PitchTimeDto">
        SELECT
            pt.price,
            pt.is_active AS isActive,
            ts.start_time AS startTime,
            ts.end_time AS endTime
        FROM pitch_times pt
        LEFT JOIN time_slots ts ON ts.id = pt.time_slot_id
        WHERE pt.sub_pitch_id = #{subPitchId} AND pt.time_slot_id = #{timeSlotId}
    </select>

    <update id="updatePitchTime" parameterType="com.pitchmanagement.dtos.PitchTimeDto">
        UPDATE pitch_times SET
            price = #{price},
            is_active = #{isActive}
        WHERE sub_pitch_id = #{subPitchId} AND time_slot_id = #{timeSlotId}
    </update>

</mapper>